body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.image-gallary{
    margin-left: 150px;
    margin-top: 5px;
}
.image-gallary img{
    margin-top: 10px !important;
    
}
.image-gallary h2{
    width: 90%;
    margin-left: 2px;
    border-bottom: 1px solid;
}